[submodule "SPIRV-Tools"]
	path = SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "shaderc"]
	path = shaderc
	url = https://github.com/google/shaderc.git
